@font-face {
  font-family: robotoMono;
  src: url(./fonts/RobotoMono-Regular.ttf);
}

body {
  font-family: robotoMono;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --dark-background-color: #f8f9fa;
  --dark-border-color: #ab1822;
  --dark-text-color: #ab1822;
  --dark-shadow-color: #eb212e;
  --light-background-color: #f8f9fa;
  --light-border-color: #22ba1a;
  --light-text-color: #22ba1a;
  --light-shadow-color: #2ff924;
  --border-size: 1px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 6rem 0 6rem;
}

.card {
  flex: 1 1 12rem;
  border: none;
  border-radius: 20px;
}

.card--dark-force {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
  box-shadow: 5px 5px 20px var(--dark-shadow-color);
}

.card--light-force {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
  box-shadow: 5px 5px 20px var(--light-shadow-color);
}

.card__img {
  max-width: 100%;
  height: auto;
}

.card__button {
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
}

.card__button--dark-force {
  background-color: var(--dark-background-color);
  border: var(--border-size) var(--dark-border-color) solid;
  color: var(--dark-text-color);
}

.card__button--light-force {
  background-color: var(--light-background-color);
  border: var(--border-size) var(--light-border-color) solid;
  color: var(--light-text-color);
}

.card__button--transition {
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.card__button--transition:hover {
  transform: scaleY(1.08) scaleX(1.08);
}
